@font-face {
    font-family: 'Playfair_Display';
    src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair_Display';
    src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Black.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
    color: #242124;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    height: 100%;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 1.0);
    transition: background-color 0.3s ease;
}

.wrapper_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1vw 3vw;
}

.logo {
    width: 236px;
    height: 60px;
    cursor: pointer;
}

/* Загальний стиль для меню */
.nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* Стилі для пунктів меню */
.nav_menu li {
    list-style: none;
    padding-right: 2em;
    position: relative;
}

/* Стилі для посилань у меню */
.nav_menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #242124;
    font-size: 12px;
    font-weight: 700;
    transition: color 0.3s ease;
}

/* Ефект при наведенні на посилання */
.nav_menu a:hover {
    color: #C9A35B;
}

.nav_menu a.active {
    color: #C9A35B;
}

/* Стилі для підменю */
.services_submenu {
    display: none;
    /* За замовчуванням підменю приховане */
    position: absolute;
    top: 100%;
    /* Розташування під головним пунктом меню */
    left: 0;
    list-style: none;
    padding: 1em;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 10;
    /* Забезпечує відображення підменю над іншими елементами */
}

/* Стилі для пунктів у підменю */
.services_submenu li {
    width: 100%;
}

/* Стилі для посилань у підменю */
.services_submenu li a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Ефект при наведенні на посилання у підменю */
.services_submenu li a:hover {
    background-color: #f5f5f5;
    color: #C9A35B;
}

/* Відкриття підменю при додаванні класу .open */
.services_dropdown .services_submenu {
    display: none;
    /* Приховано за замовчуванням */
}

.services_dropdown.open .services_submenu {
    display: block;
    /* Відображається, якщо є клас .open */
}




.services_submenu li a:hover {
    background-color: #f0f0f0;
}

.button_request {
    padding: 1em 3em;
    background-color: #C9A35B;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

.button_request:hover {
    background-color: #D2A042;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(25, 24, 24, 0.5);
}

.header-scrolled {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Cтиль для бургер-меню */
.burger_menu {
    display: none;
    cursor: pointer;
}

/* Стиль для мобільного меню */
.mobile_menu {
    display: none;
    position: fixed;
    margin-left: 0;
    padding-left: 3vw;
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    z-index: 2000;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.logo_mobile_header {
    position: absolute;
    width: 120px;
    height: 30px;
    top: 30px;
    padding-left: 0px;
}

.close_menu {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.mobile_menu ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 15%;
}

.mobile_menu ul li {
    margin-bottom: 1em;
}

.mobile_menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #242124;
    font-size: 12px;
    font-weight: 700;
    transition: color 0.3s;
}

.mobile_menu ul li a:hover {
    color: #C9A35B;
    border-bottom: 1px solid #C9A35B;
}

/* Ховаємо підменю за замовчуванням і встановлюємо максимальну висоту */
.mobile_services_submenu {
    list-style: none;
    padding-left: 20px;
    margin-top: 3em;
    margin-left: 3em;
    max-height: 0;
    /* Початкова висота підменю */
    overflow: hidden;
    /* Ховаємо вміст, що не входить у підменю */
    transition: max-height 0.5s ease-out;
    /* Плавний перехід для висоти */
}

ul .mobile_services_submenu {
    margin-top: 0;
}

/* Стилі для відкритого підменю */
.services_mobile_dropdown.open .mobile_services_submenu {
    max-height: 500px;
    /* Встановлюємо максимальну висоту при відкритті підменю */
    display: block;
    /* Відображаємо підменю */
    margin-top: 2em;
}

/* Стилі для пунктів меню */
.mobile_services_submenu li {
    margin-bottom: 0;
    font-size: 12px;
}

/* Стилі для посилань в підменю */
.mobile_services_submenu li a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-weight: 600;
    transition: color 0.3s ease;
}

.mobile_services_submenu li a:hover {
    color: #C9A35B;
}

/* Індикатор розгортання */
.services_mobile_dropdown>a::after {
    content: "▼";
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    transition: transform 0.3s ease;
}

.services_mobile_dropdown.open>a::after {
    transform: rotate(180deg);
}


.button_request_mobile {
    padding: 1em 3em;
    background-color: #C9A35B;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    width: 90%;
    bottom: 30px;
    color: #212121;
    margin-bottom: 3em;
}

.button_request_mobile:hover {
    background-color: #D2A042;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(25, 24, 24, 0.5);
}

@media (max-width: 950px) {
    .logo {
        width: 110px;
        height: 26px;
    }

    .nav_menu a {
        font-size: 10px;
    }

    .button_request {
        padding: 1em 3em;
        font-size: 10px;
        padding: 1em 2em;
    }
}

@media screen and (max-width: 750px) {
    .wrapper_header {
        justify-content: space-between;
    }

    .nav_menu,
    .button_request {
        display: none;
    }

    .burger_menu {
        display: block;
    }
}

/* MAIN BLOCK*/

.main_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main_img {
    background-image: url(../image/BBA_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 90%;
    height: auto;
}


.wrapper_mainblock {
    margin: 1em 8em;
    height: 100vh;
    display: flex;
    /* Для центрування контенту */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Вертикальне вирівнювання */
}

h1 {
    font-family: 'Playfair_Display';
    font-weight: 700;
    font-size: 88px;
    color: #C9A35B;
    text-align: center;
    /* margin-top: 2em; */
    margin-bottom: 1em;
    letter-spacing: 0.38px;
    line-height: 1.1;
}

.goldh1_text {
    font-family: 'Playfair_Display';
    font-weight: 700;
    font-size: 64px;
    color: #C9A35B;
}

.subtitle_mainblock {
    font-family: 'Playfair_Display';
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}

.goldsubtitle_text {
    font-family: 'Playfair_Display';
    font-weight: 600;
    font-size: 24px;
    color: #C9A35B;
}

.button_call {
    padding: 1em 3em;
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid #C9A35B;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

.buttons_mainblock {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button_call {
    padding: 1em 3em;
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid #C9A35B;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.button_call:hover {
    padding: 1em 3em;
    background-color: #C9A35B;
    border: 2px solid #D2A042;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    color: #242124;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(25, 24, 24, 0.5);
}

.button_moredetails {
    padding: 1em 3em;
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid #C9A35B;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.button_moredetails:hover {
    padding: 1em 3em;
    background-color: #C9A35B;
    border: 2px solid #D2A042;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    color: #242124;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(25, 24, 24, 0.5);
}

.social_media {
    margin-top: 2vw;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    padding: 0.5vw 1vw;
}

.social_media_icon {
    cursor: pointer;
}

.social_media_icon:hover {
    transform: scale(1.1);
}

.social_media_link_telegram g {
    transform: scale(0.7);
    transform-origin: center;
}


/*QUICK CONTACT */

.quick-contact {
    position: fixed;
    right: 5vw;
    bottom: 5vw;
    z-index: 30;
}

.fab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #C9A35B;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    bottom: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16), 0px 3px 10px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    transition: all 300ms ease-in-out;
    color: white;
    font-size: 2em;
    transition: all 300ms ease-in-out;
}

.fab i {
    transition: all 300ms ease-in-out;
    will-change: transform;
}

.fab svg {
    width: 40px;
    height: 40px;
    transition: transform 300ms ease-in-out;
}

.plus_quick_button {
    stroke: #C9A35B;
    fill: none;
}

.inner-fabs {
    position: relative;
}

.inner-fabs .fab {
    width: 40px;
    height: 40px;
    padding: 3px;
    font-size: 1.5em;
    position: absolute;
    right: 38px;
    bottom: 23px;
    transition: all 300ms ease-in-out;
}

.inner-fabs.show .fab:nth-child(1) {
    bottom: 85px;
}

.inner-fabs.show .fab:nth-child(2) {
    bottom: 135px;
}

.inner-fabs.show .fab:nth-child(3) {
    bottom: 185px;
}

.inner-fabs.show+.fab i {
    transform: rotate(135deg);
}

.inner-fabs.show+.fab svg {
    transform: rotate(45deg);
}

.fab:before {
    content: attr(data-tooltip);
    transition: opacity 150ms cubic-bezier(.4, 0, 1, 1);
    position: absolute;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    color: #ececec;
    right: 50px;
    top: 25%;
    background-color: rgba(70, 70, 70, 0.9);
    font-size: 0.5em;
    line-height: 1em;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    border-radius: 2px;
    padding: 6px 8px;
    max-width: 200px;
    font-weight: bold;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.inner-fabs.show .fab:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 950px) {
    .wrapper_mainblock {
        margin: 1em 3em;
    }

    h1,
    .goldh1_text {
        font-size: 48px;
    }

    .subtitle_mainblock,
    .goldsubtitle_text {
        font-size: 20px;
    }
}

@media (max-width: 580px) {
    .buttons_mainblock {
        display: flex;
        flex-direction: column;
    }

    h1,
    .goldh1_text {
        font-size: 32px;
    }

    .subtitle_mainblock,
    .goldsubtitle_text {
        font-size: 18px;
    }

    .social_media {
        margin-top: 10vw;
    }

    .quick-contact {
        position: fixed;
        right: 0vw;
        bottom: 5em;
    }
}

/* ABOUT US */

.wrapper_aboutus {
    margin: 0vw 5vw;
    padding-top: 0.5vw;
}

.aboutus_content1 {
    display: flex;
    gap: 3vw;
}

h2 {
    font-family: 'Playfair_Display';
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    width: 100%;
}

.aboutus_blocktext1 {
    padding: 1em;
    border: 1px solid#C9A35B;
    border-radius: 5px;
}

.main_text_semibold {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.38px;
}

.main_text_semibold_gold {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #C9A35B;
    letter-spacing: 0.38px;
}

.aboutus_blocktext2 {
    padding: 1vw;
    border-bottom: 1px solid #C9A35B;
}

.main_text_regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.38px;
    font-size: 18px;
}

.aboutus_image {
    width: 100%;
    height: auto;
    background-image: url(../image/aboutus_image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

.aboutus_content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.block_clients_benefits {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 100%;
}

.clients_benefit {
    display: flex;
    align-items: center;
    gap: 2vw;
    padding: 1vw;
    background-color: #EBEBEB;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.button_show_more {
    padding: 2vw;
    background-color: transparent;
    border: none;
    color: #C9A35B;
    font-size: medium;
    cursor: pointer;
}

.button_show_more {
    color: #D2A042;
}

@media screen and (min-width: 1750px) {
    .aboutus_image {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 1075px) {
    .aboutus_content1 {
        display: flex;
        flex-direction: column;
    }

    .aboutus_image {
        width: 100%;
        height: 50vw;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 30px;
    }

    .clients_benefit {
        gap: 3vw;
        padding: 1vw 3vw;
    }

    .main_text_regular {
        font-size: 14px;
    }

    .success_icon {
        width: 30px;
        height: 30px;
    }
}


/* PROBLEMS SECTION */

.wrapper_problems {
    margin: 0vw 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.problems_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vw;
}

.problem {
    display: flex;
    align-items: center;
    gap: 3vw;
    padding: 1vw 3vw;
    border-radius: 5px;
    background-color: #EBEBEB;
}

.problem_title {
    border-bottom: 1px solid #C9A35B;
}

.blocktext_title {
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
}

.main_text_regular_gold {
    color: #C9A35B;
    text-decoration: none;
}

.button_call_main {
    padding: 1em 3em;
    background-color: transparent;
    color: #242124;
    border: 2px solid #C9A35B;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    width: 215px;
    height: 45px;
}

.button_call_main:hover {
    background-color: #C9A35B;
    border: 2px solid #C9A35B;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(25, 24, 24, 0.5);
}

@media (max-width: 835px) {
    .problems_grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 640px) {
    .button_call_main {
        margin-left: 0;
        width: 100%;
    }
}

@media (max-width: 480px) {
    svg:not(.opticorer_bg_img_svg) {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 425px) {
    .blocktext_title {
        font-size: 14px;
    }

    h3 {
        font-size: 18px;
    }
}


/* SERVICE */

.wrapper_sevices {
    margin: 0vw 5vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.service_content {
    display: flex;
    gap: 2vw;
}

.services_image {
    background-image: url(../image/service_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    height: auto;
    border-radius: 5px;
}

.services_list {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 100%;
}

.service_description {
    display: none;
}

.service.active .service_description {
    display: block;
}

.service.active .service_title {
    border-bottom: 1px solid #C9A35B;
}

.service_description_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
}

.button_service_description {
    padding: 1em 3em;
    background-color: transparent;
    color: #242124;
    border: 2px solid #C9A35B;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.button_service_description:hover {
    padding: 1em 3em;
    background-color: #C9A35B;
    border: 2px solid #D2A042;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    color: #242124;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(25, 24, 24, 0.5);
}

.service {
    background-color: #EBEBEB;
    border-radius: 5px;
    padding: 0.5vw 2vw;
}

.service_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
    cursor: pointer;
}

@media (max-width: 1350px) {
    .service_description_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5vw;
    }
}

@media (max-width: 835px) {
    .service_content {
        display: flex;
        flex-direction: column;
    }

    .services_image {
        width: 100%;
        height: 60vw;
    }
}

@media (max-width: 640px) {
    .button_service_description {
        width: 100%;
    }
}

@media (max-width: 640px) {
    .service_icon {
        width: 30px;
        height: 30px;
    }
}

/* TEAM */
.team_block {
    width: 100%;
}

.wrapper_team {
    margin: 0vw 5vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.members_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2%;
}

.member_card {
    width: 80%;
    height: 50vw;
    /* Висота відповідає зображенням */
    perspective: 1000px;
    /* Додає 3D-перспективу */
    cursor: pointer;
    /* Змінює курсор на "руку" */
    position: relative;
}

.member_card_inner {
    position: relative;
    width: 100%;
    height: 80%;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
}

.member_card_inner.flipped {
    transform: rotateY(180deg);
    /* Додає переворот */
}

.member_card_front,
.member_card_back {
    position: absolute;
    width: 80%;
    height: 100%;
    backface-visibility: hidden;
    /* Ховає зворотню сторону, коли її не видно */
    border-radius: 5px;
    z-index: 0;
}

/* Стилі для передньої частини */
.member_card_front {
    background-color: #EBEBEB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
    text-align: center;
}

.image_member1,
.image_member2,
.image_member3,
.image_member4 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.member_name {
    padding: 1vw;
    font-family: 'Playfair_Display';
    font-weight: 500;
    font-size: 24px;
    border-bottom: 1px solid #C9A35B;
}

.icon_hint {
    position: absolute;
    bottom: 10px;
    /* Відступ віднизу */
    right: 10px;
    /* Відступ справа */
    background-color: rgba(255, 255, 255, 0.8);
    /* Прозорий фон */
    border-radius: 50%;
    /* Округла форма */
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.7;
    /* Легка прозорість */
}

.icon_hint:hover {
    transform: scale(1.2);
    /* Збільшення при наведенні */
    opacity: 1;
    /* Повна видимість */
}


/* Стилі для задньої частини */
.member_card_back {
    background-color: #C9A35B;
    color: #ffffff;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}

.member_card_back p {
    margin: 0.5vw 0;
    text-align: center;
    font-size: 14px;
}

.member_card_back .member_name {
    border-bottom: 1px solid #EBEBEB;
    color: #ffffff;
    font-size: 18px;
}

.image_member1 {
    background-image: url(../image/Janna_Kudrytska.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 5px;
}

.image_member2 {
    background-image: url(../image/Inna_Grigorenko_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 5px;
}

.image_member3 {
    background-image: url(../image/Iryna_Ushakova.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 5px;
}

.image_member4 {
    background-image: url(../image/Natalia_Kulyba.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 5px;
}

.member_name {
    padding: 1vw;
    font-family: 'Playfair_Display';
    font-weight: 500;
    font-size: 24px;
    border-bottom: 1px solid #C9A35B;
}

@media (min-width: 1750px) {
    .member_card {
        height: 30vw;
        /* Висота відповідає зображенням */
    }
}

@media (max-width: 1050px) {
    .member_card {
        padding: 1vw;
    }

    .member_card_front,
    .member_card_back {
        width: 90%;
        height: 130%;
    }
}

@media (max-width: 860px) {
    .members_container {
        gap: 1vw;
    }

    .member_card_front,
    .member_card_back {
        height: 130%;
    }

    .member_card {
        width: 100%;
        height: 70vw;
    }

    .member_name {
        font-size: 20px;
    }
}

@media (min-width: 769px) {
    .member_card:hover .member_card_inner {
        transform: rotateY(180deg);
        /* Переворот картки на десктопах */
    }
}

@media (max-width: 720px) {
    .members_container {
        flex-wrap: wrap;
        gap: 7vw;
    }

    .member_card {
        width: 90%;
        height: 100vw;
    }
}

@media (max-width: 500px) {
    .member_name {
        font-size: 18px;
    }
}

@media (max-width: 425px) {
    .members_container {
        display: flex;
        flex-direction: column;
    }

    .member_card {
        padding: 2vw 1vw;
    }

    .member_card_front,
    .member_card_back {
        position: absolute;
        width: 100%;
        height: 130%;
        backface-visibility: hidden;
        /* Ховає зворотню сторону, коли її не видно */
        border-radius: 5px;
        z-index: 0;
    }

    .image_member1,
    .image_member2,
    .image_member3,
    .image_member4 {
        background-size: contain;
    }

    .member_name {
        font-size: 24px;
    }
}

@media (max-width: 325px) {
    .members_container {
        display: flex;
        flex-direction: column;
        gap: 5vw;
    }

    .member_card {
        height: 100vw;
        padding: 2vw 1vw;
    }

    .image_member1,
    .image_member2,
    .image_member3,
    .image_member4 {
        width: 100%;
        height: 100vw;
    }
}

/* HOW WE WORK */

.wrapper_howwework {
    margin: 0vw 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}

.container_steps {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 100%;
}

.how_we_work_step {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5vw;
    background-color: #EBEBEB;
    padding-left: 3vw;
    border-radius: 5px;
    box-sizing: border-box;
}

.how_we_work_step_text {
    width: 90%;
}

.gold_number {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    font-size: 64px;
    color: transparent;
    -webkit-text-stroke: 2px #C9A35B;
    margin: 0;
}

.line_container {
    width: 100%;
}

.line_container svg {
    width: 100%;
    height: 2px;
}

@media (max-width: 480px) {
    .gold_number {
        font-family: 'Roboto';
        font-weight: 700;
        font-style: normal;
        font-size: 48px;
        color: transparent;
        -webkit-text-stroke: 2px #C9A35B;
        margin: 0;
    }
}

/* CLIENTS AND PROJECTS*/

.clients_block {
    width: 100%;
}

.wrapper_clients {
    margin: 0vw 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.slider_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.projects_container {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.project {
    min-width: 98%;
    padding: 0.7em;
    background-color: #EBEBEB;
    border-radius: 5px;
}

.project_name {
    font-family: 'Playfair_Display';
    font-weight: 600;
    font-size: 32px;
    padding-bottom: 1vw;
    border-bottom: 1px solid #C9A35B;
}

.slider_container_buttons {
    display: flex;
}

.slider_container_buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.2s ease-in-out;
}

.slider_container_buttons button:hover {
    transform: scale(1.1);
}

.slider_container_buttons button svg {
    width: 50px;
    height: 50px;
    transition: stroke 0.2s ease-in-out;
}

.slider_container_buttons button:hover svg path {
    stroke: #D2A042;
}

@media (max-width: 768px) {
    .project_name {
        font-size: 28px;
    }
}

@media (max-width: 425px) {
    .project_name {
        font-size: 24px;
    }

    .project {
        padding: 0.3em;
    }
}

/* ANIMATION PARTNERS */

.partners_animation_block {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.image_track {
    display: flex;
    align-items: center;
    gap: 10vw;
    animation: scroll 30s linear infinite;
    width: max-content;
}

.image_partner {
    width: auto;
    height: 60px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* PARTNERS SECTION */

.partners_block {
    width: 100%;
}

.wrapper_partners {
    margin: 0vw 5vw;
}

.partner_list {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

.partner_div {
    background-color: #EBEBEB;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Додаємо плавний перехід */
}

.partner_div:hover {
    transform: scale(1.05);
    /* Трохи збільшуємо елемент */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    /* Додаємо тінь */
}

@media (max-width: 768px) {
    .partner_list {
        flex-direction: column;
        align-items: center;
        gap: 3vw;
    }

    .partner_div {
        padding-top: 4vw;
        padding-bottom: 4vw;
    }
}


/* FAQ */
.wrapper_faq {
    margin: 0vw 5vw;
}

.faq_block {
    width: 100%;
}

/* CONTACT */

.wrapper_contact {
    padding: 7vw 5vw;
    display: flex;
    background-color: #EBEBEB;
    gap: 3vw;
}

.contact_textblock {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.contact_image {
    background-image: url(../image/contact_image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.contact_buttons {
    display: flex;
    gap: 2vw;
}

.button_request_contact,
.button_call_contact {
    padding: 1em 3em;
    background-color: transparent;
    color: #242124;
    border: 2px solid #C9A35B;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

.button_request_contact:hover,
.button_call_contact:hover {
    background-color: #C9A35B;
    border: 2px solid #C9A35B;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(25, 24, 24, 0.5);
}

@media screen and (min-width: 1750px) {
    .contact_image {
        width: 60%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .wrapper_contact {
        display: flex;
        flex-direction: column;
    }

    .contact_textblock {
        gap: 4vw;
    }

    .contact_buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .button_request_contact,
    .button_call_contact {
        width: 100%;
    }

    .contact_image {
        width: 100%;
        height: 70vw;
    }
}

@media (max-width: 425px) {
    .project_name {
        font-size: 24px;
    }

    .contact_image {
        height: 60vw;
    }
}

/* FOOTER */

footer {
    background-color: #242124;
    width: 100%;
}

.wrapper_footer {
    margin: 5vw;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    background-color: #242124;
}

.footer_content {
    display: flex;
    justify-content: space-between;

}

/* .footer_content_adress {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
} */

.footer_content_adress_text {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    color: #EBEBEB;
}

.footer_content_adress_text a {
    font-family: 'Roboto';
    font-weight: 400;
    color: #EBEBEB;
    text-decoration: none;
}

.footer_content_adress_text_gold {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    color: #C9A35B;
}

.footer__document {
    text-decoration: none;
    color: #EBEBEB;
    cursor: pointer;
}

.footer__document:hover {
    color: #C9A35B;
}

.footer_content_adress_text_grey {
    color: #898989;
    width: 100%;
    text-align: center;
}

@media (max-width: 768px) {
    .wrapper_footer {
        gap: 5vw;
    }

    .footer_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3vw;
        text-align: center;
    }
}


/* MODAL WINDOW*/

.is-hidden {
    display: none;
}

.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 0.5em;
}

.form__group-input {
    font-family: monospace;
}

.form__group-input {
    text-transform: capitalize;
}

.success-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
}

.success-message.is-hidden {
    display: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    visibility: visible;
    opacity: 1;
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 36px;
    border-radius: 10px;
    background: #FFFFFF;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* FORM */

.form {
    display: flex;
    align-items: flex-start;
    margin-bottom: 36px;
}

.form__title {
    font-family: 'Playfair_Display';
    font-weight: 600;
    font-style: normal;
    margin-bottom: 2em;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #242124;
}

.form__left-part {
    margin-right: 36px;
}

.form__left-part,
.form__right-part {
    height: 270px;
}

.form__group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 400px;
}

.form__right-part {
    width: 420px;
}

.form__group:not(:last-child) {
    margin-bottom: 10px;
}

.form__agreement {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form__agreement-checkbox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    width: 760px;
    height: 24px;
}

.form__group-label {
    margin-bottom: 4px;
    letter-spacing: 0.01em;
    color: #757575;
}

.form__group-input {
    width: 100%;
    height: 20px;
    padding: 11px 12px 11px 42px;
    border: none;
    border-bottom: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
}

.form__group-icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 12px;
}

.form__group-textarea {
    resize: none;
    width: 420px;
    height: 252px;
    padding: 1em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
}

.form__group:focus-within>.form_group-icon,
.form__group:focus>.form__group-icon,
.form__group:hover>.form__group-icon {
    fill: #C9A35B;
    transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__group:focus-within>.form__group-input,
.form__group:focus>.form__group-input {
    border-color: #C9A35B;
    transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__right-part.form__group:focus-within>.form__group-textarea,
.form__right-part.form__group:focus>.form__group-textarea {
    border-color: #C9A35B;
    transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1024px) {
    .form .mobile-none {
        display: none;
    }

    .form {
        display: block;
        width: 100%;
        ;
        margin-bottom: 20px;
    }

    .form__left-part,
    .form__right-part {
        height: fit-content;
    }

    .form__left-part {
        margin-right: none;
    }

    .form__title {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #443d44;
    }

    .form__group {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .form__group:not(:last-child) {
        margin-bottom: 10px;
    }

    .form__agreement {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .form__agreement-checkbox {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        height: fit-content;
    }

    .form__group-input {
        width: 100%;
        height: 40px;
        padding: 11px 12px 11px 42px;
        border: none;
        border-bottom: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: none;
    }

    .form__group-icon {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 12px;
    }

    .form__group-textarea {
        resize: none;
        height: 50px;
        padding-top: 12px;
        padding-right: 16px;
        padding-bottom: 12px;
        padding-left: 16px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: none;
    }

    .form__group:focus-within>.form_group-icon,
    .form__group:focus>.form__group-icon,
    .form__group:hover>.form__group-icon {
        fill: #C9A35B;
        transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .form__group:focus-within>.form__group-input,
    .form__group:focus>.form__group-input {
        border-color: #C9A35B;
        transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .form__right-part.form__group:focus-within>.form__group-textarea,
    .form__right-part.form__group:focus>.form__group-textarea {
        border-color: #C9A35B;
        transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (max-width: 550px) {
    .modal {
        padding: 5em 1em;
    }

    .form__title {
        width: 100%;
    }

    .form__group-input {
        width: 100%;
        height: 20px;
    }

    .form__group-textarea {
        max-width: 100%;
    }
}

@media screen and (max-width: 515px) {
    .modal {
        width: 85%;
    }

    .form__left-part {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .form__group-label {
        font-size: 12px;
    }

    .form__group {
        width: 100%;
    }

    .form__group-textarea {
        width: 100%;
    }

    .btn__send {
        width: 80%;
    }
}

.checkbox {
    position: absolute;
    left: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.form__agreement-checkbox-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: inline-block;
    width: 16px;
    height: 16px;
    outline: none;
    border: 2px solid #212121;
    border-radius: 4px;
}

/* Фарбування чекбоксу */
.checkbox:checked~.form__agreement-checkbox-icon {
    background-color: #C9A35B;
    border-color: #C9A35B;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Видимість іконки */
.checkbox:checked~.form__agreement-checkbox-icon use {
    display: inline;
    fill: #FFFFFF;
    stroke: #FFFFFF;
}

.checkbox~.form__agreement-checkbox-icon use {
    display: none;
}



.agreement {
    margin-left: 3em;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.71429;
    letter-spacing: 0.03em;
    color: #757575;
}

.agreement__link {
    text-decoration: underline;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    color: #C9A35B;
}

.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 0.5em;
}

.form__group-input {
    font-family: monospace;
}

.form__group-input {
    text-transform: capitalize;
}

.funds-success-message-container {
    font-family: Roboto, "Segoe UI", "Helvetica Neue", sans-serif !important;
    color: #333;
    margin-top: 50px;
    max-width: 900px;
    margin: 0 auto;
    padding: 15vh;
    padding-bottom: 35vh;
}

.funds-checkmark-text-container {
    display: block;
    width: auto !important;
    margin: 0 auto;
    text-align: center;
}

.funds-checkmark-container {
    padding: 0 4px 0 0px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.funds-checkmark-container:after {
    clear: both;
}

.funds-success-done-text {
    vertical-align: middle;
    margin: 0;
    padding: 15px 0 0 0;
    display: inline;
    font-weight: 700;
    margin-top: 0px;
    font-size: 28pt;
}

.funds-success-message {
    text-align: center;
    /* Основне вирівнювання */
    text-align: -webkit-center;
    /* Специфічне для WebKit */
    margin-top: 2em;
}

.funds-success-message h2 {
    margin-top: 0px;
}

.funds-success-done-text,
.success_mediumtext {
    font-weight: 700;
    margin-top: 0px;
}

.funds-success-done-text {
    font-size: 28pt;
    margin-top: 45px;
}

.success_mediumtext {
    font-size: 18pt;
    margin-top: 25px;
}

.success_smalltext {
    font-size: 12pt;
    padding-bottom: 1em;
    line-height: 27.2px;
    margin-top: 25px;
    max-width: 400px;
}

/* CHECKMARK */

.funds-checkmark-circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 5;
    stroke-miterlimit: 10;
    stroke: #33bb11;
    fill: none;
    -webkit-animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.funds-checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 5;
    stroke: #ffffff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    -webkit-box-shadow: inset 0px 0px 0px #33bb11;
    box-shadow: inset 0px 0px 0px #33bb11;
    -webkit-animation: fill 0.4s ease-in-out 0.4s forwards,
        scale 0.3s ease-in-out 0.9s both;
    animation: fill 0.4s ease-in-out 0.4s forwards,
        scale 0.3s ease-in-out 0.9s both;
}

.funds-checkmark-check {
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    -webkit-animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.funds-display-on-ie {
    display: none;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .funds-display-on-ie {
        display: block;
    }

    .funds-checkmark {
        display: none;
    }

    .funds-ie-checkmark-circle {
        stroke-dasharray: 166;
        stroke-dashoffset: 166;
        stroke-width: 5;
        stroke-miterlimit: 10;
        stroke: #33bb11;
        fill: none;
        -webkit-animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
        animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
    }

    .funds-ie-checkmark {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        display: block;
        stroke-width: 5;
        stroke: #ffffff;
        stroke-miterlimit: 10;
        margin: 10% auto;
        -webkit-box-shadow: inset 0px 0px 0px #33bb11;
        box-shadow: inset 0px 0px 0px #33bb11;
        -webkit-animation: fill 0.4s ease-in-out 0.4s forwards,
            scale 0.3s ease-in-out 0.9s both;
        animation: fill 0.4s ease-in-out 0.4s forwards,
            scale 0.3s ease-in-out 0.9s both;
    }

    .funds-ie-checkmark-check {
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
        animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
    }
}

@-webkit-keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes scale {

    0%,
    100% {
        -webkit-transform: none;
        transform: none;
    }

    50% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes scale {

    0%,
    100% {
        -webkit-transform: none;
        transform: none;
    }

    50% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }
}

@-webkit-keyframes fill {
    100% {
        -webkit-box-shadow: inset 0px 0px 0px 30px #33bb11;
        box-shadow: inset 0px 0px 0px 30px #33bb11;
    }
}

@keyframes fill {
    100% {
        -webkit-box-shadow: inset 0px 0px 0px 30px #33bb11;
        box-shadow: inset 0px 0px 0px 30px #33bb11;
    }
}

@media only screen and (max-width: 768px) {
    .funds-checkmark-text-container {
        display: block;
    }

    .funds-checkmark-container {
        height: auto;
        padding: 0;
        display: block;
        width: 100%;
    }
}

.funds-success-message-container.is-hidden {
    display: none;
}

.form-error {
    position: fixed;
    top: 10px;
    right: 5px;
    background-color: #ffffff;
    color: #aa0011;
    padding: 0.8em;
    border: 1px solid #aa0011;
    border-radius: 4px;
    z-index: 1000;
    display: none;
}

.form-error.is-visible {
    display: block;
}

#name-error {
    top: 1em;
}

#tel-error {
    top: 4em;
}

#email-error {
    top: 7em;
}

#policy-error {
    top: 10em;
}

.btn__send {
    padding: 0.7em 3em;
    background-color: #C9A35B;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.28px;
    opacity: 1;
    transform: scale(1.2);
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn__send:active,
.btn__send:focus,
.btn__send:hover {
    opacity: 0.9;
    cursor: pointer;
    transform: scale(1.3);
}

.btn__close {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}



/* EDUCATION BLOCK */

/* .opticorer_bg_img {
    position: absolute;
    top: 5vw;
}

.opticorer_bg_img_svg {
    width: 100%;
} */

.main_block_education {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education_part1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4em 8em 0em 8em;
}

.education_title {
    font-family: 'Playfair_Display';
    font-weight: 400;
    font-size: 55px;
    color: #242124;
}

/* .image1_education {
    background-image: url(../image/academy_h1_image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    height: 10vw;
} */

.education_part2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    margin: 4em 8em 0em 8em;
}

.education_part2 .social_media {
    margin-top: 0;
}

.education_subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.38px;
    font-size: 18px;
    width: 485px;
}

.button_courses {
    padding: 1em 3em;
    background-color: transparent;
    color: #242124;
    border: 2px solid #C9A35B;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1em;
}

.button_courses:hover {
    padding: 1em 3em;
    background-color: #C9A35B;
    border: 2px solid #D2A042;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    color: #242124;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(25, 24, 24, 0.5);
}

.background_image_education {
    background-image: url(../image/bba_comanda.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30vw;
    margin-top: 1em;
}

.courses_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
    /* padding-top: 5em; */
    margin: 0em 8em 10em 8em;
}

.course {
    background-color: #EBEBEB;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1.5em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 2em);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.course_bottom {
    margin-top: auto;
}

.course_title {
    font-family: 'Playfair_Display';
    font-weight: 600;
    font-style: normal;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid #C9A35B;
    padding-bottom: 1em;
}

.course_maintext,
.course_semiboldtext {
    margin: 0.5em 0;
}

.course_semiboldtext {
    font-weight: 500;
}

.course_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course_button {
    margin-top: 1em;
    padding: 0.8em 1.2em;
    background-color: transparent;
    color: #242124;
    border: 1px solid #C9A35B;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: small;
    font-weight: 500;
}

.course_button:hover {
    background-color: #D2A042;
}

@media screen and (min-width: 1800px) {

    .courses_list,
    .main_section_blog {
        margin: 8em auto;
    }

    .education_part1 {
        margin-top: 8em;
    }

    .background_image_education {
        width: 115%;
    }
}

@media (min-width: 1025px) {
    .courses_list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }
}

@media (max-width: 1024px) {
    .course {
        flex: 1 1 calc(50% - 2em);
        /* 2 колонки на середніх екранах */
    }

    .education_title {
        font-size: 36px;
    }

    .education_subtitle {
        font-size: 16px;
        width: 40%;
    }
}

@media (max-width: 850px) {
    .education_part1 {
        margin: 4em 5em 0em 5em;
    }

    .image1_education {
        display: none;
    }

    .education_part2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em 8em 0em 8em;
    }

    .course {
        flex: 1 1 100%;
        /* 1 колонка на маленьких екранах */
    }

    .education_title {
        text-align: center;
        font-size: 32px;
    }

    .education_subtitle {
        font-size: 14px;
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 575px) {
    .courses_list {
        margin: 0em 2em 10em 2em;
    }

    .background_image_education {
        height: 50vw;
    }

    .education_part2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em;
    }
}

@media (max-width: 475px) {
    .opticorer_bg_img {
        top: 35vw;
    }

    .education_part1 {
        margin: 4em 2em 0em 2em;
    }

    .education_title {
        font-size: 28px;
        width: 100%;
    }

    .education_subtitle {
        font-size: 12px;
        width: 80vw;
    }

    .courses_list {
        margin: 0em 2em 10em 2em;
    }
}

@media (max-width: 400px) {
    .education_subtitle {
        font-size: 12px;
    }

    .courses_list {
        margin: 0em 2em 10em 2em;
    }
}





/* OFERTA / PRIVACY / TERM OF USE */
.main_wrapper {
    margin: 5em 8em 5em 8em;
}

@media (max-width: 800px) {
    .main_wrapper {
        margin: 5em 5em 5em 5em;
    }
}

@media (max-width: 500px) {
    .main_wrapper {
        margin: 5em 3em 5em 3em;
    }
}

@media (max-width: 375px) {
    .main_wrapper {
        margin: 5em 2em 5em 2em;
    }
}





/* PRELOADER */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity .5s ease-out
}

#preloader img {
    width: 150px;
    height: auto
}

@media screen and (min-width: 1800px) {
    body>*:not(footer, header) {
        max-width: 1500px;
        /* Максимальна ширина сторінки */
        margin: auto;
        /* Центрування сторінки по горизонталі */
    }
}